<app-login-layout 
    title="Login"
    subtitle="Login into your account"
    primaryBtn="Login"
    secondaryBtn="Create your account now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disabledPrimaryBtn]="!loginForm.valid"
>

<form [formGroup]="loginForm">
    <app-primary-input
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="email@gmail.com"
    >
    </app-primary-input>

    <app-primary-input
        formControlName="password"
        inputName="password"
        type="password"
        label="Password"
    >
    </app-primary-input>

</form>

</app-login-layout>